<table>
    <tr>
        <td>
            <p>Jonathan Arath Ojeda Rosas</p>
            <p>Uno de mis objetivos es trabajar en</p>
            <p>dirección de proyectos de software</p>
        </td>
        <td>
            <img src="..\assets\Imagenes\FotoCV.PNG" width="100" height="100">
        </td>
        <td>
            <ul>
                <li>ojedarosasjaor@gmail.com</li>
                <li>271-229-2712</li>
                <li>Potrero Nuevo, Veracruz</li>
                <li>jona27081</li>
            </ul>
        </td>
    </tr>
</table>