<h3>Habilidades y Competencias</h3>
<div class="skills">
    <div class="skill-name">HTML</div>
        <div class="skill-bar">
            <div class="skill-per" per="50%" style="max-width:50%"></div>
        </div>
    <div class="skill-name">CSS</div>
        <div class="skill-bar">
            <div class="skill-per" per="50%" style="max-width:50%"></div>
        </div>
    <div class="skill-name">JAVA</div>
        <div class="skill-bar">
            <div class="skill-per" per="50%" style="max-width:50%"></div>
        </div>
    <div class="skill-name">Diseño Grafico</div>
        <div class="skill-bar">
            <div class="skill-per" per="50%" style="max-width:50%"></div>
        </div>
    <div class="skill-name">C++</div>
        <div class="skill-bar">
            <div class="skill-per" per="50%" style="max-width:50%"></div>
        </div>
</div>
